$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Empty_Con {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  @extend .HelveticaNeueRegularFont;
}
