$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

$root_border: rgb(241, 238, 238);

.Root_Background {
  //full screen body functioning as the base for everything
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Root_Header {
  //pin to top
  position: fixed;
  height: $header_height;
  width: 100%;

  //bottom border
  border-bottom: 1px solid;
  border-color: $root_border;

  background-color: $root_backgroundcolor;
  @if $sdbg {
    background-color: rgba(204, 191, 137, 0.678);
  }
}

//flexbox used as wrapper to let the content grow & fix footer to bottom of page
.Root_FlexboxWrapper {
  margin-top: $header_height;

  display: flex;
  flex-direction: column;
  height: 92% !important;
}

.Root_Content {
  flex: 1; //enables growing
  height: 100%;
  background-color: $root_backgroundcolor;
  @if $sdbg {
    background-color: rgba(137, 204, 193, 0.678);
  }
}

.Root_Footer {
  height: $footer_height;
  flex-shrink: 0; //prevents shrinking

  border-top: 1px solid;
  border-color: $root_border;

  background-color: $root_backgroundcolor;
  @if $sdbg {
    background-color: rgba(202, 137, 204, 0.678);
  }
}
