$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

//full screen body functioning as base
.Root_Body {
  //CUSTOM
  font-family: "Test_1";
  font-size: 25pt;
  //CUSTOM
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Root_Header {
  //pin to top
  position: absolute;
  top: 0;
  height: $header_height;
  width: 100%;

  //bottom border
  border-bottom: 1px solid;
  border-color: $root_border;

  background-color: $root_backgroundcolor;
  @if $sdbg {
    background-color: rgba(204, 191, 137, 0.678);
  }
}

//content fills available space between header and footer
.Root_Content {
  margin-top: $header_height;
  margin-bottom: $footer_height;
  height: -webkit-fill-available;
  overflow-y: scroll;
  //indent content from all sides
  padding: 20px;

  @if $sdbg {
    background-color: rgb(212, 50, 21);
  }
}

.Root_Footer {
  //pin to bottom
  position: absolute;
  bottom: 0;
  height: $footer_height;
  width: 100%;

  //top border
  border-top: 1px solid;
  border-color: $root_border;

  background-color: $root_backgroundcolor;
  @if $sdbg {
    background-color: rgba(202, 137, 204, 0.678);
  }
}
