$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Messages_Con {
  padding: 5px;
  flex: 1; //fill
  overflow-y: auto;
}

.Message_Con {
  margin: 3px;
}

.SysMessage {
  margin-left: 5;
  padding: 3px;
  width: fit-content;
  box-shadow: 1px 1px rgba(5, 19, 19, 0.267);

  font-size: 9pt;
  @extend .borderWithRoundedCorners;
}

.SysMessage_Welcome {
  @extend .SysMessage;
  background-color: rgba(172, 172, 172, 0.3);
}

.SysMessage_Joined {
  @extend .SysMessage;
  padding: 1px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  background-color: rgba($ready_colour, 0.3);
}

.SysMessage_Left {
  @extend .SysMessage;
  padding: 1px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  background-color: rgba($leave_colour, 0.3);
}

.SysMessage_Info {
  @extend .SysMessage;
  padding: 1px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  background-color: rgba(250, 250, 250, 0.3);
}

.SysMessage_None {
  display: flex;
}

.Sender {
  font-size: 10pt;
  font-weight: bolder;
  color: rgb(63, 65, 65);
}

.Content {
  font-size: 10pt;
  margin-left: 3px;
  word-break: break-word;
  color: rgba(63, 65, 65, 1);
}

.Info_Con_Base {
  height: 25px;
  margin: 3px;
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 0.7;
  font-size: 14px;
  @extend .borderWithRoundedCorners;
}

.Info_Con_Send {
  @extend .Info_Con_Base;
  background-color: rgba(243, 243, 243, 0.5);
}

.Info_Con_TooLong {
  @extend .Info_Con_Base;
  background-color: rgba(211, 78, 16, 0.5);
}

.Info_Con_TooMuch {
  @extend .Info_Con_Base;
  background-color: rgba(191, 211, 16, 0.5);
}

.Info_Icon {
  margin-right: 3px;
  margin-left: 3px;
  height: 18px;
  width: 18px;
}

.Input {
  height: 30px;
  width: -webkit-fill-available;
  cursor: pointer;

  padding-left: 5px;

  border: none;
  border-top: 1px solid;
  border-color: rgba(199, 198, 198, 0.692);
  outline: none;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &:focus {
    border-color: rgba(8, 8, 8, 0.6);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1; /* Firefox */
  }
}
