@import "styles/app.global.scss";

.top_con {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.findMatchroom_con {
  margin-top: 10px;
  display: flex;
}

.linkabout {
  margin-top: 10px;
}

.linkfind {
  margin-left: 5px;
}
