$sdbg: false;
@import "styles/app.global.scss";

.Con {
  position: absolute;
  top: $header_height;
  right: 0;
  bottom: $footer_height;
  left: 0;
  margin: 10px;

  cursor: pointer;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.95);

  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 80px 80px;
  //grid-column: 2;
}

.Item_Props {
  width: 100%;
  height: 100%;
  padding: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TopLeftPlaceholder {
  @extend .Item_Props;
}

/*
  ################################
  HEADLINE
  ################################
*/
.Headline_Item {
  @extend .Item_Props;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.Headline_Name {
  overflow: hidden;
  font-size: 12px;
}

/*
  ################################
  ROW
  ################################
*/
.Row_Item {
  @extend .Item_Props;
}

.Row_PlayerName {
  @extend .Item_Props;
  word-break: break-all;
}

.Row_Name {
  @extend .Headline_Name;
}

/*
  ################################
  SHARED
  ################################
*/
.Pic {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
}
