$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  position: absolute;
  top: $header_height;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.95);
}
