//debugging
$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Content_Con {
  height: 100%;

  //flexbox
  display: flex;
  justify-content: center;

  @if $sdbg {
    background-color: rgba(201, 200, 196, 0.5);
  }
}

.Left_Panel {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  flex: 1; //fill space
  max-width: 33%;

  @if $sdbg {
    background-color: rgba(122, 222, 247, 0.5);
  }
}

.Center_Panel {
  margin-top: 25px;
  flex: 1; //fill space
  max-width: 33%;

  @if $sdbg {
    background-color: rgba(39, 19, 216, 0.5);
  }
}

.Right_Panel {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  flex: 1; //fill space
  max-width: 33%;

  display: flex;
  flex-direction: column;

  @if $sdbg {
    background-color: rgba(216, 196, 19, 0.5);
  }
}

.Interaction_Con {
  height: 50px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;

  @if $sdbg {
    background-color: rgba(216, 19, 19, 0.5);
  }
}

.Input {
  height: 40px;

  @extend .HelveticaNeueBoldFont;

  //border
  border: 3px solid;
  border-color: rgba(78, 201, 22, 0.8);
  border-radius: 8px;

  outline: none;
  //color: white !important;
  //background-color: rgba(28, 179, 28, 0.8);

  &:focus {
    border-color: rgba(8, 8, 8, 0.6);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1; /* Firefox */
  }
}

.Button_Join {
  height: 40px;
  margin-left: 10px;
  cursor: pointer;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgba(255, 255, 255, 1);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  background-color: rgba(28, 179, 28, 0.8);

  &:hover {
    background-color: rgba(28, 179, 28, 0.6);
  }
}

.Button_Leave {
  height: 40px;
  margin-left: 10px;
  cursor: pointer;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgb(255, 255, 255);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  background-color: rgba(179, 28, 53, 0.9);

  &:hover {
    background-color: rgba(179, 28, 53, 0.7);
  }
}

.Players_Con {
  height: 150px;
  width: 100%;
  overflow: scroll;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(0, 100, 0, 0.2);
  }
}

.Chat_Con {
  height: 250px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(229, 233, 20, 0.2);
  }
}
