$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Content_Con {
  height: 100%;

  //flexbox
  display: flex;
  justify-content: center;

  @if $sdbg {
    background-color: rgba(201, 200, 196, 0.5);
  }
}

/*
  ################################
  LEFT
  ################################
*/
.Left_Panel {
  height: 90%;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  flex: 1; //horizontally
  max-width: 33%;

  @if $sdbg {
    background-color: rgba(122, 222, 247, 0.5);
  }
}

/*
  ################################
  CENTER
  ################################
*/
.Center_Panel {
  margin-top: 25px;
  flex: 1; //horizontally
  max-width: 33%;

  @if $sdbg {
    background-color: rgba(39, 19, 216, 0.5);
  }
}

.Profiles_Con {
  height: 50%;
  overflow-y: scroll;
  @extend .borderWithRoundedCorners;

  @if $sdbg {
    background-color: rgba(43, 40, 78, 0.5);
  }
}

.Profiles_Caption {
  text-align: center;
  margin-top: 5px;
  @extend .HelveticaNeueRegularFont;
}

.Empty_Profiles_Con {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  @extend .HelveticaNeueRegularFont;
}

.Info_Con {
  margin-top: 10px;
  height: 50%;
  @extend .borderWithRoundedCorners;
  @if $sdbg {
    background-color: rgba(165, 42, 42, 0.4);
  }
}

/*
  ################################
  RIGHT
  ################################
*/
.Right_Panel {
  //height: 90%;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  flex: 1; //horizontally
  max-width: 33%;

  //stack content vertically
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @if $sdbg {
    background-color: rgba(216, 196, 19, 0.5);
  }
}

.Interaction_Con {
  //height: 50px;
  flex: 1;

  @if $sdbg {
    background-color: rgba(216, 19, 19, 0.5);
  }
}

.Players_Con {
  //height: 150px;
  flex: 3;
  width: 100%;
  margin-top: 10px;
  overflow: scroll;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(0, 100, 0, 0.2);
  }
}

.Chat_Con {
  flex: 5;
  //height: 250px;
  width: 100%;
  margin-top: 10px;
  //margin-bottom: 25px;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(229, 233, 20, 0.2);
  }
}

/*
  ################################
  STATE
  ################################
*/

.State_Con {
  //this will take the entire screen
  position: absolute;
  top: $header_height;
  bottom: $footer_height;
  right: 0;
  left: 0;
  //center QR Code
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $root_backgroundcolor;
}

/*
  ################################
  NOTIFICATIONS
  ################################
*/

.Not_Base {
  position: absolute;
  left: 0;
  right: 0;
  top: 55px; //header height
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;

  //text & cursor
  cursor: pointer;
  @extend .HelveticaNeueRegularFont;
  color: black;

  //align items center
  display: flex;
  align-items: center;
  justify-content: space-between;

  @extend .borderWithRoundedCorners;
}

.Not_Success {
  @extend .Not_Base;
  background-color: rgba(41, 216, 18, 0.4);
}

.Not_Warning {
  @extend .Not_Base;
  background-color: rgba(243, 239, 13, 0.7);
}

.Not_Error {
  @extend .Not_Base;
  background-color: rgba(235, 27, 27, 0.7);
}

.Not_Text {
  margin-left: 15px;
}

.Not_Close {
  @extend .HelveticaNeueRegularFont;
  margin-right: 15px;
}
