$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  flex: 1;
  overflow-y: scroll;

  @if $sdbg {
    background-color: rgba(43, 40, 78, 0.5);
  }
}

.Con_NoAdmin {
  @extend .Con;
  opacity: 0.2;
  pointer-events: none; //disable clicking
  //user cannot copy stuff
  user-select: none;
}

.ItemHeader {
  margin-top: 5px;
  padding: 3px;
  @extend .HelveticaNeueBoldFont;
  //@extend .HelveticaNeueRegularFont;
  color: black;
}

/*
  ################################
  ROUNDS
  ################################
*/
.Rounds_Con {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Rounds_Input {
  height: 30px;
  width: 60px;

  border: 2.5px solid;
  border-radius: 8px;
  border-color: $unready_colour;
  outline: none;

  @extend .HelveticaNeueRegularFont;
  font-size: 20px;
  color: rgb(80, 80, 80);
  text-align: center;

  &:focus {
    border-color: black !important;
  }
}

/*
  ################################
  SPEED
  ################################
*/
.Speed_Con {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

//BUTTON TEMPLATE
.Button_Base {
  height: 25px;
  cursor: pointer;
  //border
  border-color: transparent;
  border-radius: 8px;
  //text
  //@extend .HelveticaNeueBoldFont;
  @extend .HelveticaNeueRegularFont;
  color: white;
  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Button_Speed {
  @extend .Button_Base;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_Speed_Active {
  @extend .Button_Base;
  background-color: $unready_colour;
}

/*
  ################################
  DRINKING MODE
  ################################
*/

.DrinkingMode_Con {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Button_Drinking {
  @extend .Button_Base;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_Drinking_Active {
  @extend .Button_Base;
  background-color: $unready_colour;
}
