//debugging
$sdbg: false; //show debugging background = sdbg

.Headline_Container {
  height: 100%;
  width: 100%;
  //center content
  display: flex;
  justify-content: center;
  align-items: center;

  @if $sdbg {
    background-color: rgba(243, 197, 12, 0.678);
  }
}

.Headline {
  text-decoration: none;
  color: black;

  font-family: "Test_2";
  font-size: 35pt;
}
