$sdbg: true; //show debugging background = sdbg
@import "styles/app.global.scss";

/*
  settings according to: https://about.twitter.com/en_us/company/brand-resources.html
  Tweet treatments
  -> used variable $x as consistent measure
*/
$box_width: 550px;
$x: 40px;
$marginToSides: $x * 0.5;
$topConHeight: $x;
//text height automatically grows depending on content
$bottomConHeight: $x/2;

.Con {
  width: 100%;
  height: 100%;
  @extend .borderWithRoundedCorners;
}

.Top_Con {
  @if $sdbg {
    background-color: rgba(66, 150, 10, 0.445);
  }
}

.Content_Con {
  @if $sdbg {
    background-color: rgba(24, 10, 150, 0.445);
  }
}

.Bottom_Con {
  @if $sdbg {
    background-color: rgba(150, 10, 120, 0.445);
  }
}
