$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  flex: 1;
  padding-bottom: 10px;
  overflow-y: scroll;

  @if $sdbg {
    background-color: rgba(43, 40, 78, 0.5);
  }
}

.Con_NoAdmin {
  @extend .Con;
  opacity: 0.2;
  pointer-events: none; //disable clicking
  user-select: none; //disable selecting
}

.ItemHeader {
  margin-top: 20px;
  margin-bottom: 3px;
  padding: 3px;
  @extend .HelveticaNeueBoldFont;
  color: black;
}

//CONTENT TEMPLATE
.Content_Con_Template {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

//BUTTON TEMPLATE
.Button_Base_Settings {
  height: 25px;
  cursor: pointer;
  //border
  border-color: transparent;
  border-radius: 8px;
  //text
  //@extend .HelveticaNeueBoldFont;
  @extend .HelveticaNeueRegularFont;
  color: white;
  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  &:active {
    box-shadow: 0 0px transparent;
  }
}

/*
  ################################
  ROUNDS
  ################################
*/
.Rounds_Con {
  @extend .Content_Con_Template;
}

.Button_Rounds {
  @extend .Button_Base_Settings;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_Rounds_Active {
  @extend .Button_Base_Settings;
  background-color: $unready_colour;
}

/*
  ################################
  TIME
  ################################
*/
.Speed_Con {
  @extend .Content_Con_Template;
}

.Button_Speed {
  @extend .Button_Base_Settings;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_Speed_Active {
  @extend .Button_Base_Settings;
  background-color: $unready_colour;
}

.Speed_Custom_Con {
  @extend .Content_Con_Template;
  margin-top: 10px;
  align-items: center;

  @extend .HelveticaNeueRegularFont;
  color: black;
}

/*
  ################################
  AUTO CONTINUE
  ################################
*/

.AutoContinue_Con {
  @extend .Content_Con_Template;
}

.Button_AutoContinue {
  @extend .Button_Base_Settings;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_AutoContinue_Active {
  @extend .Button_Base_Settings;
  background-color: $unready_colour;
}

/*
  ################################
  PICTURES
  ################################
*/

.Pictures_Con {
  @extend .Content_Con_Template;
}

.Button_Pictures {
  @extend .Button_Base_Settings;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_Pictures_Active {
  @extend .Button_Base_Settings;
  background-color: $unready_colour;
}

/*
  ################################
  DRINKING MODE
  ################################
*/

.DrinkingMode_Con {
  @extend .Content_Con_Template;
}

.Button_Drinking {
  @extend .Button_Base_Settings;
  color: rgb(80, 80, 80);
  background-color: rgb(240, 240, 240);
}

.Button_Drinking_Active {
  @extend .Button_Base_Settings;
  background-color: $unready_colour;
}
