//debugging
$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  width: 100%;
  height: 150px;
  margin-top: 25px;

  display: flex;
  flex-direction: column;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(229, 233, 20, 0.219);
  }
}

.MessageCon {
  padding: 5px;
  flex: 4;
  overflow-y: scroll;
}

.Message {
  font-size: 10pt;
}

.Bottom_Con {
  flex: 1;
  display: flex;
}

.Input {
  height: 30px;
  width: -webkit-fill-available;

  padding-left: 5px;

  border: none;
  border-top: 1px solid;
  border-color: rgba(199, 198, 198, 0.692);
  outline: none;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &:focus {
    border-color: rgba(8, 8, 8, 0.6);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1; /* Firefox */
  }
}

.SendBtn {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgba(255, 255, 255, 1);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.527);
  outline: none;
  background-color: rgba(28, 179, 28, 0.4);

  &:hover {
    background-color: rgba(28, 179, 28, 0.2);
  }
}
