.App {
  background-color: rgba(127, 255, 212, 0.192);
}

.Con {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.searchButton {
  margin-left: 1%;

  border: 1.7px solid;
  border-color: transparent;
  border-radius: 8px;

  background-color: rgba(221, 220, 218, 0.705);
}

.List_Con {
  width: 400px;
  min-height: 150px;

  background-color: rgba(0, 100, 0, 0.226);
}

.userCard_Con {
  height: 30px;
  width: auto;
  margin: 10px;
  background-color: rgba(22, 73, 133, 0.226);
}

.button_moreUsers {
  border: 1.7px solid;
  border-color: transparent;
  border-radius: 8px;

  background-color: rgba(238, 173, 44, 0.705);
}
