$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Content_Con {
  height: 100%;
  display: flex;

  @if $sdbg {
    background-color: rgba(201, 200, 196, 0.5);
  }
}

/*
  ################################
  LEFT
  ################################
*/
.Left_Panel {
  flex: 1; //horizontally

  display: flex;
  flex-direction: column;

  @if $sdbg {
    background-color: rgba(122, 222, 247, 0.5);
  }
}

.Left_Panel_disabled {
  @extend .Left_Panel;
  @extend .disable;
}

.Add_Con {
  flex: 1;
  height: 100%;
  @extend .borderWithRoundedCorners;
}

/*
  ################################
  CENTER
  ################################
*/
.Center_Panel {
  margin-left: 20px;
  margin-right: 20px;
  flex: 1; //horizontally

  //stack content vertically
  display: flex;
  flex-direction: column;

  @if $sdbg {
    background-color: rgba(39, 19, 216, 0.5);
  }
}

.Center_Panel_disabled {
  @extend .Center_Panel;
  @extend .disable;
}

.Lobby_Con {
  flex: 1;
  height: 100%;
  @extend .borderWithRoundedCorners;
}

/*
  ################################
  RIGHT
  ################################
*/
.Right_Panel {
  flex: 1; //horizontally

  //stack content vertically
  display: flex;
  flex-direction: column;

  @if $sdbg {
    background-color: rgba(216, 196, 19, 0.5);
  }
}

.Interaction_Con {
  height: 10%;

  @if $sdbg {
    background-color: rgba(216, 19, 19, 0.5);
  }
}

.Interaction_Con_disabled {
  @extend .Interaction_Con;
  @extend .disable;
}

.Players_Con {
  height: 30%;
  margin-top: 10px;
  overflow: scroll;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(0, 100, 0, 0.2);
  }
}

.Chat_Con {
  height: 56%;
  margin-top: 10px;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(229, 233, 20, 0.2);
  }
}

/*
  ################################
  STATE
  ################################
*/

.State_Con {
  //this will take the entire screen
  position: absolute;
  top: $header_height + 1;
  bottom: $footer_height + 1;
  right: 0;
  left: 0;
  //center QR Code
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $root_backgroundcolor;
  z-index: 5; //overlay all icons as well
}

.State_Line {
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  @extend .HelveticaNeueRegularFont;
  font-size: 20px;
  color: black;
}

.State_Status {
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.State_Icon {
  width: 30px;
  height: 30px;
}
