@import "../Tweet.module.scss";

.TopPart_Con {
  height: $topConHeight;
  display: flex;

  @if $sdbg {
    background-color: sienna;
  }
}

.User_Pic {
  border-radius: 50%;
  width: $x;
}

.Name_Con {
  margin-left: 5px;
}

.UserName {
  height: 19px;
  overflow-x: hidden;
  @extend .HelveticaNeueBoldFont;
}

.UserTag_Link {
  text-decoration: none;
}

.UserTag {
  height: 19px;
  overflow-x: hidden;
  @extend .HelveticaNeueRegularFont;
}

.Verified_Icon {
  padding-top: 3px;
  padding-left: 3px;
  width: $x * 0.4;
  height: $x * 0.4;
}

.Twitter_Icon_Link {
  margin-left: auto;
  margin-right: 0;
}

.Twitter_Icon {
  width: $x;
}
