//debugging
$sdbg: false; //show debugging background = sdbg

@import "styles/app.global.scss";

.Con {
  width: 400px;
  min-height: 130px;
  max-height: 500px;
  overflow-y: scroll;

  //border
  border: 1.7px solid;
  border-color: rgba(194, 192, 192, 0.75);
  border-radius: 8px;

  @if $sdbg {
    background-color: rgba(43, 226, 43, 0.233);
  }
}

.Top_Con {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.Input {
  margin-top: 10px;
  height: 40px;
  flex: 2;

  @extend .HelveticaNeueBoldFont;

  //border
  border: 1.7px solid;
  border-color: rgba(194, 192, 192, 0.75);
  border-radius: 8px;

  //background-color: rgba(204, 204, 197, 0.123);
  outline-color: transparent;

  &:focus {
    outline-color: rgb(29, 161, 242);
  }
}

.buttonCon {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;

  //border
  border: 1.7px solid;
  border-color: transparent;
  border-radius: 8px;

  //shadow
  box-shadow: 2px 2px rgba(5, 19, 19, 0.527);

  cursor: pointer;

  background-color: rgba(236, 236, 234, 0.705);
}

.Icon {
  padding-top: 7px;
  padding-left: 8px;
  width: 25px;
  height: 25px;
  cursor: inherit;
}

.searchButton {
  //text
  @extend .HelveticaNeueBoldFont;
  color: rgb(29, 161, 242);
  cursor: inherit;

  outline: none;
  border: none;
  background-color: transparent;
}

.List_Con {
  @if $sdbg {
    background-color: rgba(0, 100, 0, 0.226);
  }
}

.buttonMore_Con {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.buttonMore {
  height: 40px;

  //border
  border: 1.7px solid;
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgb(29, 161, 242);

  //shadow
  box-shadow: 2px 2px rgba(5, 19, 19, 0.527);

  cursor: pointer;

  outline: none;
  background-color: rgba(236, 236, 234, 0.705);
}

.loading_Con {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
