$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

//BUTTON TEMPLATE
.Button_Base {
  height: 40px;
  cursor: pointer;
  //border
  border-color: transparent;
  border-radius: 8px;
  //text
  @extend .HelveticaNeueBoldFont;
  color: white;
  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  &:active {
    box-shadow: 0 0px transparent;
  }
}

/*
  ################################
  BEFORE JOIN
  ################################
*/

.Join_Con {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Caption {
  text-align: center;

  @extend .HelveticaNeueBoldFont;
  //@extend .HelveticaNeueRegularFont;
  font-size: calc(8px + 2vmin);
}

.Input {
  height: 40px;
  margin-top: 10px;
  text-align: center;

  @extend .HelveticaNeueBoldFont;

  //border
  border: 1px solid;
  border-color: $HelveticaNeueRegularColor;
  border-radius: 8px;
  outline: none;

  &:focus {
    border: 2px solid;
    border-color: $HelveticaNeueRegularColor;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1; /* Firefox */
  }
}

.Button_Join {
  @extend .Button_Base;
  margin-top: 10px;
  background-color: rgba($ready_colour, 0.8);
  &:hover {
    background-color: rgba($ready_colour, 0.6);
  }
}

.Error_Con {
  margin: 5px;
  padding: 5px;

  display: flex;
  align-items: center;

  font-size: 8pt;

  @extend .borderWithRoundedCorners;
  background-color: rgba(239, 243, 12, 0.5);
}
