$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

/*
  ################################
  STATE
  ################################
*/

.State_Con {
  //this will take the entire screen
  position: absolute;
  top: $header_height + 1;
  bottom: $footer_height + 1;
  right: 0;
  left: 0;
  //center QR Code
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $root_backgroundcolor;
  z-index: 5; //overlay all icons as well
}
