$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Nav_Bar {
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  justify-content: space-evenly;
}

.Nav_Icon {
  padding: 0;
  width: 25px;
}
