//debugging
$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  overflow-x: scroll;

  @extend .borderWithRoundedCorners;

  @if ($sdbg) {
    background-color: rgba(0, 100, 0, 0.219);
  }
}

.PlayerCard {
  margin: 5px;
  padding: 5px;
  height: 20px;

  overflow-x: scroll;

  @extend .borderWithRoundedCorners;

  background-color: rgba(224, 228, 228, 0.288);
}
