$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Caption {
  text-align: center;
  margin-top: 5px;
  @extend .HelveticaNeueRegularFont;
}

.PlayerCard {
  height: 20px;
  margin: 5px;
  padding: 5px;

  display: flex;

  @extend .borderWithRoundedCorners;
  background-color: rgba(230, 230, 230, 0.3);
}

.PlayerCard_Ready {
  @extend .PlayerCard;
  background-color: rgba($ready_colour, 0.3) !important;
}

.Name_Con {
  flex: 4;
  overflow-x: scroll;

  @if $sdbg {
    background-color: khaki;
  }
}

.IsYou_Con {
  flex: 1;
  display: flex;
  justify-content: center;

  @if $sdbg {
    background-color: lawngreen;
  }
}

.Ready_Con {
  flex: 1;
  display: flex;
  justify-content: center;

  @if $sdbg {
    background-color: lightpink;
  }
}

.Icon {
  width: 20px;
  height: 20px;
}
