$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Caption {
  text-align: center;
  margin-top: 5px;
  @extend .HelveticaNeueRegularFont;
  color: rgb(20, 20, 20);
}

.PlayerCard {
  height: 20px;
  margin: 5px;
  padding: 5px;

  display: flex;
  box-shadow: 1px 1px rgba(5, 19, 19, 0.267);
  @extend .borderWithRoundedCorners;
  background-color: rgba(230, 230, 230, 0.3);
}

.PlayerCard_Ready {
  @extend .PlayerCard;
  background-color: rgba($ready_colour, 0.3) !important;
}

.Name_Con {
  flex: 4;
  overflow-x: scroll;

  @if $sdbg {
    background-color: khaki;
  }

  //hide scrollbar in windows
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.Icon_Base {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

$font_size: 17pt;
.IsAdmin_Con {
  font-size: $font_size;
  @extend .Icon_Base;
  @if $sdbg {
    background-color: rgb(25, 57, 160);
  }
}

.IsYou_Con {
  font-size: $font_size;
  @extend .Icon_Base;
  @if $sdbg {
    background-color: lawngreen;
  }
}

.Ready_Con {
  font-size: $font_size;
  @extend .Icon_Base;
  @if $sdbg {
    background-color: lightpink;
  }
}
