$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

//general outside container
.Con {
  cursor: default;
  padding: 10px;

  @if $sdbg {
    background-color: rgba(156, 156, 160, 0.418);
  }
}

/*
  ################################
  HEADLINE
  ################################
*/

.Headline_Con {
  height: 20px;
  display: flex;
  align-items: center;

  @if $sdbg {
    background-color: rgb(192, 192, 240);
  }
}

.Headline_Answer {
  margin-left: 8px;
}

.Headline_Name {
  @extend .Name;
}

.Headline_Points {
  @extend .Points;
}

.Headline_Time {
  @extend .Time;
  padding-right: 10px;
}

/*
  ################################
  CARDS
  ################################
*/

.Cards_Con {
  margin-top: 10px;
  padding: 5px;
  @extend .borderWithRoundedCorners;
  @if $sdbg {
    background-color: rgb(135, 22, 241);
  }
}

/*
  ################################
  USER
  ################################
*/
.Card_Con {
  height: 20px;
  display: flex;
  align-items: center;
}

.Card_Con_Ready {
  @extend .Card_Con;
  background-color: rgba($ready_colour, 0.2);
}

.Answer {
  margin-right: 5px;
}

.Name {
  overflow: hidden;
  flex: 2;
}

.Name_IsYou {
  @extend .Name;
  font-weight: bold;
}

.Points {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Time {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/*
  ################################
  DETAILS
  ################################
*/

.Details_Con {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button_Detailed {
  @extend .Button_Base;
  height: 30px;
  font-size: 10pt;
  background-color: rgba($unready_colour, 0.8);
}
