$sdbg: false;

//general outside container
.Con {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

  width: auto;

  @if $sdbg {
    background-color: rgba(156, 156, 160, 0.418);
  }
}

.Headline_Con {
  height: 20px;
  display: flex;

  font-family: STCaiyun;
  font-size: 20px;

  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;

  @if $sdbg {
    background-color: rgb(192, 192, 240);
  }
}

.Headline_Place {
  width: 15%;
  @if $sdbg {
    background-color: rgb(135, 22, 241);
  }
}

.Headline_Name {
  width: 60%;
  @if $sdbg {
    background-color: rgb(112, 103, 121);
  }
}

.Headline_Points {
  width: 10%;
  @if $sdbg {
    background-color: rgb(138, 133, 143);
  }
}

.Headline_TotalTime {
  width: 20%;
  text-align: right;
  padding-right: 2px;
  @if $sdbg {
    background-color: rgb(164, 102, 231);
  }
}

.Icon {
  width: 17px;
}

.User_Con {
  height: 20px;
  display: flex;

  padding: 8px;
  margin-bottom: 8px;

  //border
  border: 1.7px solid;
  border-color: rgba(194, 192, 192, 0.75);
  border-radius: 8px;

  @if $sdbg {
    background-color: rgb(192, 192, 240);
  }
}

.Place {
  width: 15%;
  @if $sdbg {
    background-color: rgb(135, 22, 241);
  }
}

.Name {
  width: 60%;
  overflow-x: hidden;
  @if $sdbg {
    background-color: rgb(112, 103, 121);
  }
}

.Points {
  width: 10%;
  @if $sdbg {
    background-color: rgb(138, 133, 143);
  }
}

.TotalTime {
  width: 20%;
  text-align: right;
  @if $sdbg {
    background-color: rgb(164, 102, 231);
  }
}
