$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

//general outside container
.Con {
  cursor: default;
  padding: 10px;

  @if $sdbg {
    background-color: rgba(156, 156, 160, 0.418);
  }
}

/*
  ################################
  HEADLINE
  ################################
*/

.Headline_Con {
  height: 20px;
  display: flex;
  align-items: center;

  @if $sdbg {
    background-color: rgb(192, 192, 240);
  }
}

.Headline_Answer {
  margin-left: 8px;
}

.Headline_Name {
  @extend .Name;
}

.Headline_Points {
  @extend .Points;
}

.Headline_Time {
  @extend .Time;
  margin-left: 5px;
  justify-content: center !important;
}

/*
  ################################
  CARDS
  ################################
*/

.Cards_Con {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  @if $sdbg {
    background-color: rgb(135, 22, 241);
  }
}

.Card_Con {
  height: 30px;
  margin-bottom: 5px;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  align-items: center;

  @extend .borderWithRoundedCorners;
}

.Card_Con_Ready {
  @extend .Card_Con;
  background-color: rgba($ready_colour, 0.2);
}

.Card_Con_AnswerGiven {
  @extend .Card_Con;
  background-color: rgba($unready_colour, 0.2);
}

.Answer {
  margin-right: 5px;
}

.Name {
  overflow: scroll;
  flex: 2;
}

.Name_IsYou {
  @extend .Name;
  font-weight: bold;
}

.Points {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Time {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
