$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

//general outside container
.Con {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

  width: auto;

  @if $sdbg {
    background-color: rgba(156, 156, 160, 0.418);
  }
}

.Headline_Con {
  height: 20px;
  display: flex;

  @if $sdbg {
    background-color: rgb(192, 192, 240);
  }
}

.Cards_Con {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  @if $sdbg {
    background-color: rgb(135, 22, 241);
  }
}

.Card_Con {
  height: 30px;
  margin-bottom: 5px;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  align-items: center;

  @extend .borderWithRoundedCorners;
}

.Name {
  overflow: scroll;
  flex: 2;
}

.Points {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Time {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
