$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  flex: 1;
  overflow-y: scroll;
  @extend .borderWithRoundedCorners;

  @if $sdbg {
    background-color: rgba(43, 40, 78, 0.5);
  }
}

.Caption {
  text-align: center;
  margin-top: 5px;
  @extend .HelveticaNeueRegularFont;
}

.Empty_Con {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  @extend .HelveticaNeueRegularFont;
}
