$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  height: 100%;
  display: flex;
  justify-content: center;
}

.Input {
  height: 40px;
  flex: 4;

  @extend .HelveticaNeueBoldFont;

  //border
  border: 3px solid;
  border-color: rgba(78, 201, 22, 0.8);
  border-radius: 8px;

  outline: none;
  //color: white !important;
  //background-color: rgba(28, 179, 28, 0.8);

  &:focus {
    border-color: rgba(8, 8, 8, 0.6);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1; /* Firefox */
  }
}

.Button_Join {
  height: 40px;
  margin-left: 10px;
  cursor: pointer;

  flex: 1;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgba(255, 255, 255, 1);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  background-color: rgba(28, 179, 28, 0.8);

  &:hover {
    background-color: rgba(28, 179, 28, 0.6);
  }
}

.Button_Leave {
  height: 40px;
  cursor: pointer;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgb(255, 255, 255);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  background-color: rgba(179, 28, 53, 0.9);

  &:hover {
    background-color: rgba(179, 28, 53, 0.7);
  }
}

.Button_Ready {
  height: 40px;
  margin-left: 25px;
  cursor: pointer;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgb(255, 255, 255);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  background-color: rgba(28, 179, 53, 0.9);

  &:hover {
    background-color: rgba(28, 179, 53, 0.7);
  }
}

.Button_Unready {
  height: 40px;
  margin-left: 25px;
  cursor: pointer;

  //border
  border-color: transparent;
  border-radius: 8px;

  //text
  @extend .HelveticaNeueBoldFont;
  color: rgb(255, 255, 255);

  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  background-color: rgba(219, 165, 14, 0.9);

  &:hover {
    background-color: rgba(219, 165, 14, 0.7);
  }
}
