$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

.Con {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @if $sdbg {
    background-color: mediumpurple;
  }
}

.Input {
  height: 40px;
  flex: 4;

  @extend .HelveticaNeueBoldFont;

  //border
  border: 3px solid;
  border-color: rgba(28, 179, 28, 0.8);
  border-radius: 8px;

  outline: none;
  //color: white !important;
  //background-color: rgba(28, 179, 28, 0.8);

  &:focus {
    border-color: rgba(8, 8, 8, 0.6);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1; /* Firefox */
  }
}

.Joined_Con {
  display: inherit;
}

.Button_Base {
  cursor: pointer;
  //border
  border-color: transparent;
  border-radius: 8px;
  //text
  @extend .HelveticaNeueBoldFont;
  color: rgba(255, 255, 255, 1);
  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
}

.Button_Join {
  @extend .Button_Base;
  height: 40px;
  margin-left: 10px;
  flex: 1;
  background-color: rgba(28, 179, 28, 0.8);

  &:hover {
    background-color: rgba(28, 179, 28, 0.6);
  }
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Button_Leave {
  height: 40px;
  @extend .Button_Base;
  background-color: rgba(179, 28, 53, 0.9);

  &:hover {
    background-color: rgba(179, 28, 53, 0.7);
  }
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Button_Ready {
  @extend .Button_Base;
  height: 40px;
  margin-left: 25px;
  background-color: rgba(28, 179, 28, 0.8);

  &:hover {
    background-color: rgba(28, 179, 28, 0.6);
  }
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Button_Unready {
  @extend .Button_Base;
  height: 40px;
  margin-left: 25px;
  background-color: rgba(219, 165, 14, 0.9);

  &:hover {
    background-color: rgba(219, 165, 14, 0.7);
  }
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Share_Con {
  margin-left: 25px;
  height: 36px;
  width: 36px;

  cursor: pointer;
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;

  @extend .borderWithRoundedCorners;
  @if $sdbg {
    background-color: maroon;
  }

  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Copy_Icon {
  width: 25px;
  height: 25px;
  opacity: 0.7;

  //center content vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  //center content horizontally
  display: block;
  margin-left: auto;
  margin-right: auto;
}
