$sdbg: false; //show debugging background = sdbg
@import "styles/app.global.scss";

//BUTTON TEMPLATE
.Button_Base {
  height: 40px;
  cursor: pointer;
  //border
  border-color: transparent;
  border-radius: 8px;
  //text
  @extend .HelveticaNeueBoldFont;
  color: white;
  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  &:active {
    box-shadow: 0 0px transparent;
  }
}

/*
  ################################
  AFTER JOIN
  ################################
*/

.Con {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @if $sdbg {
    background-color: mediumpurple;
  }
}

.AfterJoin_Con {
  display: flex;
  justify-content: space-evenly;
}

.Button_Leave {
  @extend .Button_Base;
  background-color: rgba($leave_colour, 0.9);
  &:hover {
    background-color: rgba($leave_colour, 0.7);
  }
}

.Button_Ready {
  @extend .Button_Base;
  flex-shrink: 0;
  background-color: rgba($ready_colour, 0.8);
  &:hover {
    background-color: rgba($ready_colour, 0.6);
  }
}

.Button_Unready {
  @extend .Button_Base;
  flex-shrink: 0;
  background-color: rgba($unready_colour, 0.9);
  &:hover {
    background-color: rgba($unready_colour, 0.7);
  }
}

.Icon_Con {
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  cursor: pointer;

  //align items on both axis centrally
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  @extend .borderWithRoundedCorners;

  &:hover {
    background-color: rgb(243, 243, 243);
  }
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.Icon {
  width: 25px;
  height: 25px;
  opacity: 0.7;
}

//this will take the entire screen
.QR_Code_Con {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1; //overlay everything

  //center QR Code
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.95);
}

.closeQRCode {
  @extend .Button_Base;
  margin-top: 10px;
  background-color: rgba($unready_colour, 0.9);
  &:hover {
    background-color: rgba($unready_colour, 0.7);
  }
}
