$ready_colour: rgb(28, 179, 28);
$leave_colour: rgb(179, 28, 53);
$unready_colour: rgb(219, 165, 14);

.HelveticaNeueRegularFont {
  font-family: "HelveticaNeueRegular";
  color: rgb(136, 153, 166);
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
}
.HelveticaNeueBoldFont {
  font-family: "HelveticaNeueBold";
  font-size: 13pt;
}

.disableUserSelection {
  //disable selection by user, so it cannot be marked by use
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.borderWithRoundedCorners {
  border: 1.7px solid;
  border-color: rgba(194, 192, 192, 0.75);
  border-radius: 8px;
}
