$ready_colour: rgb(28, 179, 28);
$leave_colour: rgb(179, 28, 53);
$unready_colour: rgb(219, 165, 14);

$header_height: 55px;
$footer_height: 60px;
$root_backgroundcolor: #ffffff;
$root_border: rgb(241, 238, 238);

$HelveticaNeueRegularColor: rgb(136, 153, 166);

//BUTTON TEMPLATE
.Button_Base {
  height: 40px;
  cursor: pointer;
  //border
  border-color: transparent;
  border-radius: 8px;
  //text
  @extend .HelveticaNeueBoldFont;
  color: white;
  //colour, shadow, outline
  box-shadow: 2px 2px rgba(5, 19, 19, 0.5);
  outline: none;
  &:active {
    box-shadow: 0 0px transparent;
  }
}

.HelveticaNeueRegularFont {
  font-family: "HelveticaNeueRegular";
  color: rgb(136, 153, 166);
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
}
.HelveticaNeueBoldFont {
  font-family: "HelveticaNeueBold";
  font-size: 13pt;
}

.disable {
  opacity: 0.3;
  pointer-events: none; //disable clicking
  user-select: none; //disable selecting
}

.disableUserSelection {
  //disable selection by user, so it cannot be marked by use
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.borderWithRoundedCorners {
  border: 1.7px solid;
  border-color: rgba(194, 192, 192, 0.75);
  border-radius: 8px;
}
